
# =====================
# Archive and Package Files
# =====================
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz

# =====================
# Log Files
# =====================
*.log
*.log.*

# =====================
# Signature Files
# =====================
*.sig

# =====================
# Source and Build Directories
# =====================
pkg/
src/

# Environment files
.env

# =====================
# Docker-related Files
# =====================
*.pid
*.sock
docker-compose.override.yml

# =====================
# Editor and IDE Files
# =====================
.vscode/
.idea/
*.swp
*~

# =====================
# Operating System Files
# =====================
.DS_Store
Thumbs.db

# =====================
# Miscellaneous
# =====================
notes.txt
